.form-button{
  text-align: center;
}


.thead-default > tr > th{
  text-align: center;
}

#date{
  width: 5%;
}

.color-red{
  color: #c0392b;
  font-size: 50px;
}

.th-planning {
  padding: 5px;
  font-size: 30px;
  Font-Weight: Bold;
}

.th-planning:hover{
  color: #c0392b;
}
.th-planning-inactive{
  padding: 5px;
  font-size: 30px;
  Font-Weight: Bold;
}

.th-planning-active{
  color: #c0392b;
  padding: 5px;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
