.form-button{
  text-align: center;
}


.thead-default > tr > th{
  text-align: center;
}

#date{
  width: 5%;
}

.color-red{
  color: #E04640;
  font-size: 50px;
}

.th-planning {
  padding: 5px;
  font-size: 30px;
  Font-Weight: Bold;
}

.th-planning:hover{
  color: #E04640;
}
.th-planning-inactive{
  padding: 5px;
  font-size: 30px;
  Font-Weight: Bold;
}

.th-planning-active{
  color: #E04640;
  padding: 5px;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.navbar-horloge{
  padding-left: 50px;
}
.clock{
    color: #E04640;
}
